@font-face {
  font-family: "goodcustomfont";
  src: url('cocoduckduckgoose.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #E3D9C9;
/*    font-family: 'SpecialFont', sans-serif; /* Replace 'SpecialFont' with the actual font name */*/
}


#quote-card {
    position: relative;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: #660000;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
/*    width: 400px;*/
/*    height: 550px;*/
/*    height: auto;*/
    height: 75%;
    max_height: 550px;
/*    width: auto;*/
    width: 85%;
    max-width: 400px;
}

#quote-text {
    font-size: 18px;
/*    text-align: center;*/
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    padding: 0px;
    top: 50%;
    left: 50%;
    color: #E3D9C9;
    font-family: 'COCOGOOSE', sans-serif;
}

#bottom-text {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 50%;
    font-size: 80%;
    transform: translate(-50%, 0);
    color: #f1f1f180;
}